[submodule "src/DynamixelSDK"]
	path = src/DynamixelSDK
	url = https://github.com/ROBOTIS-GIT/DynamixelSDK.git
[submodule "src/turtlebot3"]
	path = src/turtlebot3
	url = https://github.com/ROBOTIS-GIT/turtlebot3.git
[submodule "src/turtlebot3_msgs"]
	path = src/turtlebot3_msgs
	url = https://github.com/ROBOTIS-GIT/turtlebot3_msgs.git
[submodule "src/yolo_ros"]
	path = src/yolo_ros
	url = https://github.com/mgonzs13/yolo_ros.git
